body{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #575757;
}
.flex-container{
    display: flex;
    margin: 5%;
    align-items: center;
}
.flex-container h1{
    font-size: 50px;
}
.navbar{
    display: flex;
    /* position: relative; */
    margin: 0;
    font-size: 20px;
    font-weight: 700;

}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    padding-left: 20px;
    color: #F088D1;
}
.navbar img{
    width: 10%;
    padding-left: 10%;
}
#signup-btn{
    background-color: #F088D1;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.light-pink{
    color: #F088D1;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
    margin-left: 50px;
}
.pink-btn{
    display: inline-block;
    color: white;
    background-image: linear-gradient(to right,#F088D1,#EF34B5);
    text-decoration: none;
    padding: 25px 30px;
    font-weight: 700;
    border-radius: 50px;
    margin-top: 35px;
}
.section-bg{
    background-image: url(img/raw-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
#about-img{
    width: 70%;
    margin-top: 20%;
    margin-bottom: 0;
    padding-left: 50px;
}
#about-paragraph{
    margin-right: 100px; 
    text-align: justify;
}

.section-title{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}
.card-item{
    width: 33.33%;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.3);
    margin: 2%;
    border-radius: 40px;
    text-align: left;
    /* padding-left: 2%; */
}
.card-item img{
    width: 90%;
    margin: 5%;
}
.card-item h3, .card-item p{
    padding-left: 5%;
    color: black;
}
.social-hype{
    display: flex;
    margin:7%;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.3);
    border-radius: 30px;
}
.social-follower{
    padding: 20px 40px;
    font-size: 30px;
    text-align: left;
}
.social-follower h1{
    color: black;
}
#signup-form{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-right: 25%;
}
.submit-btn{
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 10px;
}
form{
    display: block;
    background-color:#F2F2F2 ;
}

footer{
    text-align: center;
    background-color: #0B0E17;
    padding-top: 30px;
    padding-bottom: 90px;
}
footer p{
    color: white;
    font-size: 18px;
}
